
body{
				
}

.maindiv{

background-color: gray;
left: 30px;
width: 350px;
height: 600px;
margin-left: 35px;		

}
#screendiv{
				background-color: white;
				width: 300px;
				height: 100px;
				margin-left: 20px;
			  margin-top:40px ;
			  pointer-events: none;
			  border-bottom-right-radius: 10px;
			  border-radius: 10px;
			  border-color: red;
			  border-collapse: 10px;
			  border-bottom-style: solid;
			  
			
}
.buttons{
				background-color: #ffaab5;
				width: 70px;
				height: 50px;
				margin-top: 50px;
}
.dev{
				margin-left: 28px;
				margin-top: 0px;
}
